// @file
// Color variables
// http://sass-lang.com/docs/yardoc/file.SASS_REFERENCE.html#variables_

$color-body: #fff;
$color-gradient-dark: rgba(0, 0, 0, 0.1);
$color-gradient-light: rgba(255, 255, 255, 0.1);
$color-link: #0071bc;
$color-link-hover: #205493;
$color-link-visited: #4c2c92;
$color-selection-background: #dce4ef;
$color-selection-foreground: #212121;
$color-text-primary: #212121;
$color-text-secondary: #5b616b;

// Branding colors
$midnight: #003a54;
$marine: #004259;
$aqua: #54c5d0;
$white: #ffffff;
$offwhite: #e6e6e6;
$gray: #54585a;
$light-gray: #999999;
$orange: #f67a0c;
