<div class="l-constrain">

  <h1 class="page-title">News Content - Displays</h1>

  <h2 class="page-title--alt">Media Card display</h2>
  {{ drupal_entity('node', 2, 'media_card') }}

  <h2 class="page-title--alt">Media Teaser display</h2>
  {{ drupal_entity('node', 2, 'media_teaser') }}

  <h2 class="page-title--alt">Teaser display</h2>
  {{ drupal_entity('node', 2, 'teaser') }}

</div>
