<article class="teaser" role="article">
  <div class="teaser__date">{{ content.field_published|field_value }}</div>
  <h2 class="teaser__title"><a href="{{ url }}">{{ content.title|field_value }}</a></h2>
</article>
