{% include "@layouts/header.twig" %}

<main id="main" class="main" role="main" tabindex="-1">
  <div class="region-content">

    {# Hero #}

    <section class="section-landing">
      <div class="l-constrain">
        <div class="section-landing__inner">

          {# Featured - Cards #}

        </div>
      </div>
    </section>

    <section class="section-landing section-landing--subsections">
      <div class="l-constrain">
        <div class="section-landing__inner l-grid l-grid--50">
          <div class="section-landing__section">

            {# Updates - Teaser #}

          </div>

          <div class="section-landing__section">

            {# News Releases - Teaser w/ Media #}

          </div>

        </div>
      </div>
    </section>
  </div>
</main>

{% include "@layouts/footer.twig" %}
