<footer class="region-footer" role="contentinfo">
  <div class="region-footer__top">
    <div class="l-constrain">
       {% include "@components/site-name/site-name.twig" %}
     </div>
  </div>
  <div class="region-footer__bottom">
    <div class="l-constrain l-constrain--narrow">
      {% include "@components/footer-menu/footer-menu.twig" %}
    </div>
  </div>
</footer>
