<header class="region-header" role="banner">
  <div class="l-constrain">
    <div class="region-header__grid">
      {% include "@components/site-name/site-name.twig" %}
      {% include "@components/main-menu/main-menu.twig" %}
    </div>
  </div>
</header>
