<section class="section-landing">
  <div class="l-constrain">
    <div class="section-landing__inner">
      <h2 class="section-landing__title">Featured</h2>
      <div class="l-grid l-grid--cards">
        {{ content.field_news|field_value }}
      </div>
    </div>
  </div>
</section>
