<section class="section-landing section-landing--subsections">
  <div class="l-constrain">
    <div class="section-landing__inner l-grid l-grid--50">
      <div class="section-landing__section">
        {{ drupal_view(content.field_view_one.0['#plain_text']) }}
      </div>
      <div class="section-landing__section">
        {{ drupal_view(content.field_view_two.0['#plain_text']) }}
      </div>
    </div>
  </div>
</section>
