<ul class="sg-colors">
  <li>
    <span class="sg-swatch" style="background: #003a54;"></span>
    <span class="sg-label">#003a54</span>
  </li>
  <li>
    <span class="sg-swatch" style="background: #004259;"></span>
    <span class="sg-label">#004259</span>
  </li>
  <li>
    <span class="sg-swatch" style="background: #54c5d0;"></span>
    <span class="sg-label">#54c5d0</span>
  </li>
  <li>
    <span class="sg-swatch" style="background: #ffffff;"></span>
    <span class="sg-label">#ffffff</span>
  </li>
  <li>
    <span class="sg-swatch" style="background: #54585a;"></span>
    <span class="sg-label">#54585a</span>
  </li>
  <li>
    <span class="sg-swatch" style="background: #999999;"></span>
    <span class="sg-label">#999999</span>
  </li>

  <li>
    <span class="sg-swatch" style="background: #f67a0c;"></span>
    <span class="sg-label">#f67a0c</span>
  </li>
</ul>
